* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #171717;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 10px 40px 0;
    background: #fffdf9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.logo {
    font-size: 10px;
    letter-spacing: 2px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul a {
    text-decoration: none;
    color: #444;
    font-size: 9px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right span {
    font-size: 8px;
    color: #bd9078;
}

.nav-btn {
    text-decoration: none;
    color: white;
    background: #111;
    padding: 8px 14px;
    border-radius: 25px;
    font-size: 9px;
    box-shadow: 0 5px 10px #0002;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-top: 15px;

}

.content {
    width: 50%;
}

.subtitle {
    color: #bd9078;
    font-size: 9px;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
}

.content h1 {
    font-size: 38px;
    line-height: 0.98;
    letter-spacing: -1.8px;
    margin-bottom: 17px;
}

.content h1 span {
    display: block;
    color: #bd9078;
}

.description {
    max-width: 340px;
    color: #888;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 17px;
}


.buttons {
    display: flex;
    gap: 8px;
}

.buttons a {
    text-decoration: none;
    padding: 8px 17px;
    border-radius: 25px;
    font-size: 10px;
}

.primary-btn {
    color: white;
    background: #111;
    box-shadow: 0 5px 10px #0002;
}

.secondary-btn {
    color: #222;
    border: 1px solid #d8d3ce;
    background: transparent;
}



.hero-image {
    width: 47%;
    height: 365px;
    flex-shrink: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;

    clip-path: polygon(
        18% 6%,
        35% 2%,
        55% 0%,
        76% 2%,
        91% 7%,
        98% 17%,
        100% 29%,
        97% 42%,
        90% 54%,
        79% 64%,
        67% 73%,
        57% 84%,
        47% 94%,
        36% 100%,
        25% 98%,
        16% 91%,
        9% 79%,
        4% 64%,
        1% 49%,
        0% 37%,
        5% 25%,
        11% 14%
    );
}

.trusted {
    display: flex;
    align-items: center;
    gap: 32px;
    height: 65px;
    border-bottom: 1px solid #bbb;
}

.trusted p {
    color: #aaa;
    font-size: 9px;
}

.trusted h4 {
    color: #aaa;
    font-size: 10px;
    letter-spacing: 1px;
}

.navbar ul a:hover {
    color: #bd9078;
}

.nav-btn:hover,
.primary-btn:hover {
    background: #bd9078;
}

.secondary-btn:hover {
    background: #f4eee8;
}
